{% extends './baseAdmin.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<title>AnimalShow | Categorias</title>
{% endblock %} {% block body %}
<!-- Header-->
<header class="bg-primary py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Listado de categorias</h1>
    </div>
  </div>
</header>

<div class="container mt-5">
  <caption>
    Lista de categorias
  </caption>
  <br />
  <span class="rd-point">* Campos Obligatorios</span>
</div>

<form action="/editarCategoriaForm" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group mb-3">
          <label for="txtID">ID <small>*</small></label>
          <input readonly value="{{cate.id_categoria}}" name="txtID" id="txtID" type="number" class="form-control" placeholder="ID de la categoria"/>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group mb-3">
          <label for="txtCategoria">Nombre de la categoria <small>*</small></label>
          <input value="{{cate.nombre_categoria}}" name="txtCategoria" id="txtCategoria" type="text" class="form-control"
            placeholder="Nombre categoria" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="txtDescripcion">Descripción <small>*</small></label>
          <input value="{{cate.descripcion}}" name="txtDescripcion" id="txtDescripcion" type="text" class="form-control"
            placeholder="Descripcion categoria" />
        </div>
      </div>

      <div id="alerta" class="alert alert-danger" style="display: none"></div>

      <div class="col-md-3">
        <div class="form-group mt-4">
    
          <div class="form-group mt-5">
            <button type="submit" class="btn btn-success">Editar producto</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


{% endblock %} {% block script %}
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/formsquery.js' %}"></script>
<script src="{% static 'js/validarCategoria.js' %}"></script>
{% endblock %}