{% extends './baseAdmin.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<title>AnimalShow | Editar producto</title>
{% endblock %} 


{% block body %}
   <!-- Header-->
   <header class="bg-primary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Editar</h1>
        </div>
    </div>
</header>



<div class="container mt-5">
    <h1>Editar el producto</h1>
    <span class="rd-point">* Campos Obligatorios</span>
</div>


<form action="/editarProductoForm" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <div class="container mt-5 mb-5">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="txtSku">SKU <small>*</small></label>
                    <input readonly value="{{prod.sku}}" name="txtSku" id="txtSku" type="number" class="form-control"
                        placeholder="SKU del producto">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="txtProducto">Nombre del producto <small>*</small></label>
                    <input value="{{prod.nombre}}" name="txtProducto" id="txtProducto" type="text" class="form-control"
                        placeholder="Ingrese el nombre del producto">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="txtPrecio">Precio <small>*</small></label>
                    <input value="{{prod.precio}}" name="txtPrecio" id="txtPrecio" type="number" class="form-control"
                        placeholder="Ingrese el precio">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb-3">
                    <label for="txtDesc">Descripción <small>*</small></label>
                    <input value="{{prod.descripcion}}" name="txtDesc" id="txtDesc" type="text" class="form-control"
                        placeholder="Ingrese una descripción para el producto">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group mb-3">
                    <label for="txtStock">Stock <small>*</small></label>
                    <input value="{{prod.stock}}" name="txtStock" id="txtStock" type="number" class="form-control"
                        placeholder="Registrar el stock">
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="cmbCat">Categoria:</label>
                    <select name="cmbCat" id="cmbCat" class="form-select">
                        <option disabled selected>Seleccione</option>
                        {% for c in cate %}
                        <option value="{{c.id_categoria}}" {% if c.id_categoria == prod.id_categoria.id_categoria %} selected {% endif %}>{{c.nombre_categoria}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="cmbPro">Proveedor:</label>
                    <select name="cmbPro" id="cmbPro" class="form-select">
                        <option disabled selected>Seleccione</option>
                        {% for p in prove %}
                        <option value="{{p.id_proveedor}}" {% if p.id_proveedor == prod.id_proveedor.id_proveedor %} selected {% endif %}>{{p.nombre_proveedor}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="form-group mb-3">
                    <label for="txtImagen">Imagen <small>*</small></label>
                    <img src="{{prod.imagen.url}}" height="100" alt="">
                    <input name="txtImagen" id="txtImagen" type="file" class="form-control">
                </div>
            </div>

            <div class="form-group mt-5">
                <button type="submit" class="btn btn-success">Editar producto</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block script %}
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/formsquery.js' %}"></script>
{% endblock %}
