{% extends './base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<title>AnimalShow | Iniciar sesión</title>
{% endblock %} {% block body %}

<!-- ============================ COMPONENT LOGIN   ================================= -->
<div class="card mx-auto mb-5" style="max-width: 380px; margin-top: 100px">
  <div class="card-body">
    <h4 class="card-title mb-4">Completa tus datos</h4>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input
          name="txtEmail"
          type="email"
          class="form-control"
          placeholder="Email"
        />
      </div>
      <!-- form-group// -->
      <div class="form-group">
        <input
          name="txtContrasenia"
          type="password"
          class="form-control"
          placeholder="Contraseña"
        />
      </div>

      <div class="error-message">
        {% if error_message %} {{ error_message }} {% endif %}
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
      </div>
      <!-- form-group// -->
    </form>
  </div>
  <!-- card-body.// -->
</div>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->

{% endblock %} {% block script %}
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/funciones.js' %}"></script>
{% endblock %}
