{% extends './baseAdmin.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<!-- DataTables -->
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"
/>
<title>AnimalShow | Productos</title>
{% endblock %} {% block body %}
<!-- Header-->
<header class="bg-primary py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Lista de productos</h1>
    </div>
  </div>
</header>

<!-- MODALS  -->
<div
  class="modal fade"
  id="eliminarProd"
  tabindex="-1"
  aria-labelledby="eliminarProd"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eliminarProd">Eliminar producto</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro que deseas eliminar el producto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <a href="/eliminarProducto/{{p.sku}}" class="btn btn-danger"
          >Eliminar</a
        >
      </div>
    </div>
  </div>
</div>


<div class="container">
  <a href="/agregarproducto" class="btn btn-primary mt-2"
    ><i class="bi bi-plus-circle-fill"></i> Agregar nuevo producto</a
  >
</div>

<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="table-responsive">
        <table class="table caption-top">
          <caption>
            Lista de productos
          </caption>
          <thead>
            <tr>
              <th class="centered" scope="col">Sku</th>
              <th class="centered" scope="col">Imagen</th>
              <th class="centered" scope="col">Nombre</th>
              <th class="centered" scope="col">Precio</th>
              <th class="centered" scope="col">Descripción</th>
              <th class="centered" scope="col">Stock</th>
              <th class="centered" scope="col">Categoria</th>
              <th class="centered" scope="col">Proveedor</th>
              <th class="centered" scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for p in prod %}
            <tr>
              <th scope="row">{{p.sku}}</th>
              <td><img src="{{p.imagen.url}}" height="100" /></td>
              <td>{{p.nombre}}</td>
              <td>{{p.precio}}</td>
              <td>{{p.descripcion}}</td>
              <td>{{p.stock}}</td>
              <td>{{p.id_categoria}}</td>
              <td>{{p.id_proveedor}}</td>
              <td>
                <a href="/editarProducto/{{p.sku}}" class="btn btn-primary"
                  >Editar</a
                >
                <a href="/eliminarProducto/{{p.sku}}" class="btn btn-danger"
                  >Eliminar</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% block script %}

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- DataTables.js -->
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
{% endblock %} {% endblock %}
