{% extends "./base.html" %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<title>AnimalShow | Tienda</title>
{% endblock %}


{% block body %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-primary">
    <div class="container">
        <h2 class="display-4 fw-bolder text-white">Tienda</h2>
    </div>
</section>



<!-- ========================= LISTA DE PRODUCTOS ========================= -->
<section class="">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="mb-5">Perros</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for p in cat_perros %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- SKU badge-->
                    <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                        {{p.precio}}</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{{p.imagen.url}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{p.nombre}}</h5>
                            <!-- Product price-->
                            <span class="text-muted">{{p.descripcion}}</span>
                        </div>
                    </div>

                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><button onclick="agregarAlCarrito('{{p.nombre}}', '{{p.precio}}','{{p.sku}}','{{p.stock}}')"
                                class="resaltado">Agregar al carrito <i class="bi bi-caret-right-fill"></i></button>
                            </li>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="mb-5">Gatos</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for p in cat_gatos %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- SKU badge-->
                    <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                        {{p.precio}}</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{{p.imagen.url}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{p.nombre}}</h5>
                            <!-- Product price-->
                            <span class="text-muted">{{p.descripcion}}</span>
                        </div>
                    </div>

                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><button onclick="agregarAlCarrito('{{p.nombre}}', '{{p.precio}}','{{p.sku}}','{{p.stock}}')"
                                class="resaltado">Agregar al carrito <i class="bi bi-caret-right-fill"></i></button>
                            </li>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
{% endblock %}


{% block script %}
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/funciones.js' %}"></script>
<script src="{% static 'js/carrito.js' %}"></script>
{% endblock %}